@media (max-width: 1200px) {
	/*INFO ---------------------- */
	.info-item {

		&_margin {
			margin-top: 125px
		}

		&__inner-prod {

			&_first {
	
				.info-img {
					height: 200px;
	
					img {
						max-height: 200px;
					}
				}
			}
		
			&_second {
		
				.info-img {
					height: 200px;
   					left: -130px;
	
					img {
						max-height: 200px;
					}
				}
			}
		
			&_third {
				
				.info-img {
					height: 335px;
					left: 13px;

					img {
						max-height: 335px;
					}
				}
			}
		
			&_fourth {
				padding-left: 40px;
	
				.info-item-wrap__point {
					top: -20px;
				}
		
				.info-img {
					width: 440px;
					height: 145px;
					top: -94px;
	
					img {
						max-height: 145px;
					}
				}
			}
		
			&_fifth {
	
				.info-item-wrap__point {
					top: -20px;
				}
					
				.info-img {
					height: 180px;
					top: -100px;
					left: -300px;
	
					img {
						max-height: 180px;
					}
				}
			}
		}
	}

	.info-list {
		flex-shrink: 0;

		&_pos {
			padding: 20px 0 50px;
		}

		&_flex {
			flex-shrink: 1;
			flex-wrap: wrap;

			.info-item {
				width: 37%;
	
				&:last-child {
					margin-left: 0;
					margin-top: 35px;
				}
			}
		}
	}

	/*FOOTER ---------------------- */
	.footer_bg {

		&:after {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	/*HEADER ---------------------- */
	.menu {
	
		li {
	
			&:nth-child(n+2) {
				margin-left: 20px;
			}
		}
	}

	.personal-wrap {
		margin-left: 30px;
	}

	.logo {
		display: none;
	}

	/*INFO ---------------------- */
	.info-wrap {
		display: block;
	}

	.info-list {
		
		&_flex {
			display: block;

			.info-item {
				max-width: 390px;
				width: 100%;
			}
		}

		&_pos {
			display: flex;
			flex-direction: column;
			padding: 0 0 40px;
		}
	}

	.info-item {
		
		&__inner {
			padding-left: 30px;
		}

		&:nth-child(n+2) {
			margin-left: 0;
			margin-top: 0;
		}

		&_margin {
			margin-top: 0;
		}

		&_flex {
			flex-direction: column;
    		align-items: center;
		}

		&_flex-center {
			order: -1;
		}

		&__inner-prod {
			margin-top: 30px;
			padding-top: 100px;

			&_first {
				padding-left: 0;
				padding-top: 150px;
	
				.info-img {
					width: 274px;
					height: auto;
					top: 15px;
					left: -15px;
	
					img {
						max-height: 140px;
					}
				}
			}
		
			&_second {
				top: 0;
				padding-right: 0;
				padding-top: 165px;

				.info-img {
					width: 324px;
					height: auto;
					top: 0;
    				left: -25px;
	
					img {
						max-height: 140px;
					}
				}
			}
		
			&_third {
				padding-top: 135px;

				.info-img {
					width: 101px;
					height: auto;
					top: 20px;
					right: 50px;
					left: auto;

					img {
						max-height: 178px;
					}
				}
			}
		
			&_fourth {
				padding-left: 0;
		
				.info-img {
					width: 234px;
					height: auto;
					top: 0;

					img {
						max-height: 91px;
					}
				}
			}
		
			&_fifth {

				.info-item-wrap__point {
					top: -20px;
				}
					
				.info-img {
					width: 297px;
					height: auto;
					top: 0;
					left: -20px;
	
					img {
						max-height: 95px;
					}
				}
			}
		}
	}

	.info-item-wrap {
		padding-left: 0;
		padding-right: 130px;
		max-width: 250px;
		min-width: 250px;

		.info-item-wrap__point {
			left: auto;
			right: 15px;
			top: -40px;
		}
	}

	/*WINNERS ---------------------- */
	.winners-table {
		max-width: 805px;

		&__wrap {

			.table {

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-left: 8px;
						}
					}
				}

				tbody {

					td {
	
						&:nth-child(n+2) {
							padding-left: 8px;
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	/*PRIZE ---------------------- */
	.prize-wrap {
		max-width: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.prize-items {

		&:nth-child(n+2) {
			margin-top: 40px;
		}

		.info-item-wrap {

			&__text-wrap {
				max-width: 135px;
			}
		}
	}

	/*PERSONAl ---------------------- */
	.personal-info {
		display: block;

		&__inner {
			margin-left: 0;
			margin-top: 10px;
    		max-width: 315px;
		}
	}

	/*TABLE ---------------------- */
	.table {
		border-spacing: 30px 25px;
		left: -30px;
	}

	/*FOOTER ---------------------- */
	.footer-info {
		flex-direction: column;

		&__link {
			margin-left: 0;
			order: -1;
			margin-bottom: 40px;
		}
	}

	/*SCROLL ---------------------- */
	body .scroll-element.scroll-y {
		opacity: 0;
	}
}

@media (max-width: 768px) {
	/*MAIN-HEADER ---------------------- */
	.main-header {
		
		&_mob {
			background-size: auto;
			background-position-y: top;

			.main-header-content {
				padding: 35px 0 60px;
			}

			.title__main-header {
				display: none;
			}

			.date {
				display: none;
			}
		}
	}

	.main-header-logo {
	
		img {
			max-height: 90px;
		}
	}

	.main-header-content {
		padding: 25px 0;
	}

	.mob-menu {
		display: block;
	}

	/*TITLE ---------------------- */
	.title {
		font-size: 23px;
		line-height: 26px;

		&__main-header {
			max-width: 325px;
			margin: 115px 0 25px; 
		}
	}

	.date {

		&_main {
			width: 100%;
		}
	}

	/*HEADER ---------------------- */
	.header {
		background-color: #ffffff;
		position: absolute;
		top: -1500px;
		left: 0;
		right: 0;
		z-index: 8;
		@include transition(.4s);

		&_active {
			top: 0;
		}
	}

	%mob-menu {
		padding: 0 20px 0 40px;
		width: 100%;
	}
	
	.nav {
		flex-direction: column;
		margin: 0 -15px;
	}

	.menu {
		@extend %mob-menu;
		display: block;
		margin-top: 75px;

		li {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}

	.personal-wrap {
		@extend %mob-menu;
		flex-grow: 0;
		margin-top: 50px;
		margin-left: 0;
	}

	.icon-lk {
		
		&:before {
			color: #f40000;
		}
	}

	.link {
		color: $mainColor;
		font-family: $gothamProBlack;
		font-size: 18px;
		text-transform: uppercase;
		padding: 0;

		&_active {
			color: #f40000;
		}

		&:hover {
			color: #f40000;
		}

		&:after {
			display: none;
		}

		&_personal {
			padding-left: 25px;
		}
	}

	.logo {
		padding: 0 20px 0 40px;
		align-self: flex-end;
		margin: 60px 0 30px;
		display: block;
	}

	.discription-att {
		width: 100%;
		padding: 20px 20px 45px 40px;
		display: none;

		&_ios {
			display: block;

			.discription-att__link_apple {
				display: inline-block;
			}
		}

		&_android {
			display: block;

			.discription-att__link_android {
				display: inline-block;
			}
		}
	}

	/*INFO ---------------------- */
	.info-list_flex {
		margin-top: 0;
		display: block;

		.info-item {

			&_margin {
				margin-left: 0;
				margin-top: -10px !important;
			}
		}

		.info-text {

			&__bold {
				color: #221f20;
			}
		}
	}

	/*WINNERS ---------------------- */
	.winners-table {

		&__wrap {

			.table {
				width: 805px;

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-left: 8px;
						}
					}
				}

				tbody {

					td {
	
						&:nth-child(n+2) {
							padding-left: 8px;
						}
					}
				}
			}
		}
	}

	.search-wrap {
		display: block;

		&__inner {
			justify-content: center;

			&_input {
				margin: 5px auto 0;
			}
		}
	}

	/*PERSONAl ---------------------- */
	.personal-info {

		.link {

			&:hover {
				color: $mainColor;
			}
		}
	}

	.personal-table {
		display: block;
	}

	.tabs {
		display: flex;
		border: {
			right: none;
			bottom: 1px solid #dadada;
		}
		justify-content: center;
		align-items: center;
		padding-right: 0;

		li {
			position: relative;
			top: 1px;
			border: 1px solid #dadada;
			background-color: $colorBtn;
			color: $colorText;
			flex-shrink: 1;
			text-align: center;

			&.active {
				border: {
					right: 1px solid #dadada;
					top: 1px solid #dadada;
					left: 1px solid #dadada;
					bottom: 1px solid #ffffff;
				}
				background-color: #ffffff;
				color: $mainColor;
			}

			&:nth-child(n+2) {
				margin-top: 0;
    			margin-left: 10px;
			}
		}
	}

	.table-wrap {
		margin: 20px 0 0;
	}

	/*TABLE ---------------------- */
	.table {
		width: 100%;
		left: 0;
	}

	/*POPUP ---------------------- */
	.popup {

		&__wrap {

			&_big {
				max-width: 340px;
    			padding: 30px 30px 40px;
			}
		}
	}

	.form_flex {
		display: block;

		.form__inner {
			margin-bottom: 40px;

			&:first-child {
				margin-bottom: 30px
			}

			&:nth-child(n+2) {
				margin-left: 0;
			}
		}
	}

	.form__input_file {
		margin-top: 20px !important;
	}
}

@media (max-width: 570px) {
	/*INFO ---------------------- */
	.info-list_flex {
		display: block;
	}

	.info-item {

		&_margin {
			margin-left: 0;
		}
	}

	/*WINNERS ---------------------- */
	.winners-table {

		&__wrap {
			overflow-x: visible;
			overflow-y: visible;

			.table {
				width: 100%;

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-left: 0;
							padding-right: 120px;
						}
					}
				}

				tbody {

					tr {
						margin: 0;
					}

					td {
						padding-top: 25px;
					}
				}
			}

			.td-phone,
			.td-city {
				display: none;
			}

			.td-winner {
				position: relative;

				&:after {
					content: attr(data-city);
					max-width: 180px;
					width: 100%;
					display: block;
					color: #b7b7b7;
					font-size: 14px;
					margin-top: 5px;
				}

				&__name {

					&:after {
						content: attr(data-phone);
						max-width: 180px;
						width: 100%;
						display: block;
						color: #b7b7b7;
						font-size: 14px;
						margin-top: 5px;
					}
				}
			}

			.td-status {
				display: block;
			}
		}
	}

	.search-wrap {

		.select2-container {
			margin-left: 0;
    		margin-top: 15px;
		}

		&__inner {
			display: block;

			&_input {
				margin: 10px 0 0;
			}
		}
	}

	/*PERSONAl ---------------------- */
	.personal-info {
		display: block;

		&__inner {
			max-width: none;

			&_flex {
				margin-left: 0;
				margin-top: 10px;
				display: block;
				padding: 10px;
			}
		}
	}

	.tabs {

		li {
			max-width: 125px;
			padding: 8px;
		}
	}

	.table-wrap {
		margin: 20px 50px 0;

		&_checks {

			.td-date {
				margin-left: 60px;
				display: block;
			}
		}

		&_gift {

			.th-mob-visible {
				margin-right: 65px;
			}

			.td-date {
				display: block;
				width: 40%;
			}
		}
	}
		

	/*TABLE ---------------------- */
	.table {
		width: 100%;
		border-collapse: collapse;
		top: 0;

		tr {
			display: flex;
			justify-content: space-between;
		}

		tbody {
			 
			tr {
				margin: 25px 0;
				position: relative;
			}
		}
	}

	.th-mob-visible {
		display: block;
	}

	.th-mob-hide {
		display: none;
	}

	.th-mob {
		display: block;
		
		&_padding {
			padding-right: 15px;
		}
	}

	.td-img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.td-date {
	
		&:after {
			content: attr(data-time);
			color: #b7b7b7;
			font-size: 14px;
			display: block;
			margin-top: 8px;
		}

		&_mob-hide {
			display: none !important;
		}
	}

	.td-sertif {
		display: none;
	}

	.td-send {
		margin-left: 20px;
		max-width: 180px;
		width: 100%;
		display: block;

		&:before {
			content: attr(data-sert);
			display: block;
			margin-bottom: 5px;
		}
	}

	.td-points {
		max-width: 60px;
		width: 100%;
		display: block;
	}

	.td-status {
		max-width: 50px;
		width: 100%;
		display: block;

		&__wrap {
			display: flex;
			justify-content: flex-start;
		}

		&__text {
			background-color: #35c000;
			border-radius: 50px;
			width: 20px;
			height: 20px;
			font-size: 0px;
			display: block;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 50%;
				transform: translateX(-50%) rotate(-135deg);
				width: 8px;
				height: 8px;
				border: {
					top: 2px solid #fff;
					left: 2px solid #fff;
				}
			}

			&_mod {
				background-color: #000;

				&:before {
					border: none;
					width: 14px;
					height: 8px;
					top: 50%;
					transform: translate(-50%, -50%) rotate(0deg);
					border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
					background-color: #fff;
				}

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: #fff;
					border: 2px solid #000;
				}
			}

			&_dis {
				background-color: #e21f27;

				&:before {
					border: none;
					width: 10px;
					height: 2px;
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
					background-color: #fff;
				}

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
					width: 10px;
					height: 2px;
					background-color: #fff;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	/*INFO ---------------------- */
	.sprite-list-drinks_none {
		display: none;
	}

	/*WINNERS ---------------------- */
	.winners-table {

		&__wrap {

			.table {

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-right: 70px;
						}
					}
				}
			}

			.td-status {
				max-width: 120px;
				width: 100%;
			}
		}
	}

	/*PRIZE ---------------------- */
	.prize-items {
		display: block;

		.info-item-wrap {

			.info-item-wrap__point_min {
				top: -70px;
				left: 0;
			}
		}
	}

	/*PERSONAl ---------------------- */
	.table-wrap {
		margin: 20px 0 0;
	}

	/*POPUP ---------------------- */
	.choose-prize,
	.choose-prize-conf {

		.popup__wrap {
			padding: 30px 10px 40px;
		}
	}

	/*FOOTER ---------------------- */
	.footer-info {

		&__link {

			a {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 370px) {
	/*PERSONAl ---------------------- */
	.table-wrap {

		&_gift {

			.th-mob-visible {
				margin-right: 25px;
			}
		}
	}

	/*TABLE ---------------------- */
	.td-send {
		max-width: 140px;
	}
}

@media (max-height: 1000px) {
	/*POPUP ---------------------- */
	.choose-issue,
	.choose-prize,
	.reg {
		display: block;

		.popup__wrap {
			margin: 60px auto;
		}
	}
}

@media (max-height: 750px) {
	/*POPUP ---------------------- */
	.popup {
		display: block;

		&__wrap {
			margin: 60px auto;
		}
	}
}